@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

a {
    color:#006080;
    text-decoration:none;
}
a:hover {
    color:#00a0c0;
    text-decoration:none;
}
body {
    font-family:'Open Sans', sans-serif;
    font-size:12.5px;
    color:#404040;
    background-color:#ffffff;
    margin:0px;
}
table {
    font-size:inherit;
}
input, button, textarea, select {
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    padding:8px;
    border:1px solid #c0c0c0;
    border-radius:3px;
}
input[type=button], input[type=submit], button {
    background-color:#f0f0f0;
    border-bottom-width:2px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color:#e0e0e0;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active {
    position:relative;
    top:1px;
    border-bottom-width:1px;
}
ul li ul {
    display:none;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto Condensed', 'Arial Narrow';
    font-weight:normal;
}
.material-icons {
    vertical-align:-3px;
    color:#006080;
    font-size:18px;
}
h1 .material-icons, h2 .material-icons {
    vertical-align:-5px;
    font-size:24px;
}
.headerZone {
    background-color:#f0f0f0;
    border-bottom:1px solid #c0c0c0;
    display:block;
}
.headerZone h2 {
    display:block;
    margin:0 auto;
    max-width:800px;
    padding:20px;
    box-sizing:border-box;
}
.contentZone {
    display:block;
    margin:0 auto;
    max-width:800px;
    padding:20px;
    box-sizing:border-box;
}

.foldericon {
    color:#ffe090;
}
.fileicon {
    color:#c0c0c0;
}
.deleteicon {
    color:#ff6060;
}

@media only screen and (max-width:800px)
{

}